svg { float: left;}
path { transition: fill .7s ease; }
.detail { float: left;
  margin-left:20px;
  border: 1px solid #dddddd;
  width: 400px;
 }

.order {
  float: left;
    margin-left:20px;
    border: 1px solid #dddddd;
    width: 400px;
}

 h3 > span { margin-right: 20px;}

 .showList { margin-top: 20px; }
